*.class

# Eclipse
.project
.classpath
.settings/
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders



# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

itemsense-client.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
META-INF/
out/
.DS_Store

.idea
.idea/artifacts/
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_5_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_5_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_5_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_5_1.xml
.idea/vcs.xml


target.zip
Target/
target/
